<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{{ mconfig.title }} | {{ selectMenu.submenu.name }}</title>
  
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-submenu.min.css">
  <!-- link rel="stylesheet" type="text/css" href="/static/css/jquery.fileupload.css" -->
  <link rel="stylesheet" type="text/css" href="/static/css/ringo.css">
  <!-- Scripts -->
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-submenu.min.js"></script>
</head>
<body>
  <nav class="ringo-nav navbar navbar-fixed-top">
    <div class="container-fluid">
	  <div class="navbar-header">
        <a class="navbar-brand ringo-brand" href="/">{{ mconfig.title }}</a>
      </div>
      {% for menu in mconfig.menus %}
        <div class="nav navbar-nav dropdown">
			{% if selectMenu.action == menu.action %}
              <a class="menu disabled active" href="javascript:void(0);">{{ menu.name }}</a>
            {% else %}
              <a class="menu disabled " href="/index.html?action={{ menu.action }}">{{ menu.name }}</a>
            {% endif %}
          <ul class="dropdown-menu dropdown-auto">
            {% for submenu in menu.submenu %}
              {% if selectMenu.submenu.action == submenu.action %}
			    <li class="active"><a href="javascript:void(0);">{{ submenu.name }}</a></li>
			  {% else %}
	            <li><a href="/index.html?action={{ submenu.action }}">{{ submenu.name }}</a></li>
	          {% endif %}
	        {% endfor %}
	      </ul>
        </div>
      {% endfor %}
	  <div class="nav navbar-nav navbar-right dropdown">
        <a id="user-info" class="homemenu dropdown-toggle" data-toggle="dropdown" href="">{{ user.name }}</a>
        <ul id="user-list" class="dropdown-menu">
          <li><a href="/index.html?action=more">设置</a></li>
          <li><a href="/index.html?action=logout">退出</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <span id="adminflag" class="hidden">1</span>
        <ul class="nav nav-sidebar">
		  {% for menu in mconfig.menus %}
			{% if selectMenu.action == menu.action %}
			  {% for submenu in menu.submenu %}
			    {% if selectMenu.submenu.action == submenu.action %}
                <li class="active"><a href="javascript:void(0);">{{ submenu.name }}</a></li>
				{% else %}
                <li><a href="/index.html?action={{ submenu.action }}">{{ submenu.name }}</a></li>
                {% endif %}
			  {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2>{{ selectMenu.submenu.name }}</h2>
		<hr>
		{% extends selectMenu.page %}
      </div>
    </div>
  </div>
</body>
</html>