<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{{ mconfig.title }} | {{ selectMenu.submenu.name }}</title>
  
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-submenu.min.css">
  <!-- link rel="stylesheet" type="text/css" href="/static/css/jquery.fileupload.css" -->
  <link rel="stylesheet" type="text/css" href="/static/css/ringo.css">
  <!-- Scripts -->
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-submenu.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.ui.widget.js"></script>
  <script type="text/javascript" src="/static/js/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
  <script type="text/javascript" src="/static/js/FileSaver.min.js"></script>
  <script type="text/javascript" src="/static/js/ringosite.js"></script>
</head>
<body>
  <nav class="ringo-nav navbar navbar-fixed-top">
    <div class="container-fluid">
	  <div class="navbar-header">
        <a class="navbar-brand ringo-brand" href="/">{{ mconfig.title }}</a>
      </div>
      {% for menu in mconfig.menus %}
      <div class="nav navbar-nav dropdown">
	    {% if selectMenu.action == menu.action %}
		  <a id="me{{ menu.action }}" class="menu disabled active" href="javascript:getIndexViewRequest('{{ menu.action }}')">{{ menu.name }}</a>
		{% else %}
		  <a id="me{{ menu.action }}" class="menu disabled" href="javascript:getIndexViewRequest('{{ menu.action }}')">{{ menu.name }}</a>
		{% endif %}
		<ul class="dropdown-menu dropdown-auto">
		{% for submenu in menu.submenu %}
		  {% if selectMenu.submenu.action == submenu.action %}
		    <li id="sm{{ submenu.action }}" class="submenu active"><a href="javascript:getIndexViewRequest('{{ submenu.action }}')">{{ submenu.name }}</a></li>
		  {% else %}
			<li id="sm{{ submenu.action }}" class="submenu"><a href="javascript:getIndexViewRequest('{{ submenu.action }}')">{{ submenu.name }}</a></li>
		  {% endif %}
		{% endfor %}
	    </ul>
      </div>
      {% endfor %}
	  <div class="nav navbar-nav navbar-right dropdown">
        <a id="user-info" class="homemenu dropdown-toggle" data-toggle="dropdown" href="">{{ user.name }}</a>
        <ul id="user-list" class="dropdown-menu">
          <li><a href="javascript:getIndexViewRequest('more')">设置</a></li>
          <li><a href="javascript:getIndexViewRequest('logout')">退出</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <span id="adminflag" class="hidden">1</span>
        <ul class="nav nav-sidebar">
		  {% for menu in mconfig.menus %}
			{% if selectMenu.action == menu.action %}
			  {% for submenu in menu.submenu %}
			    {% if selectMenu.submenu.action == submenu.action %}
                <li id="ss{{ submenu.action }}" class="sd{{ menu.action }} sidemenu active"><a href="javascript:getIndexViewRequest('{{ submenu.action }}')">{{ submenu.name }}</a></li>
				{% else %}
                <li id="ss{{ submenu.action }}" class="sd{{ menu.action }} sidemenu"><a href="javascript:getIndexViewRequest('{{ submenu.action }}')">{{ submenu.name }}</a></li>
                {% endif %}
			  {% endfor %}
			{% else %}
			  {% for submenu in menu.submenu %}
                <li id="ss{{ submenu.action }}" class="sd{{ menu.action }} sidemenu hidden"><a href="javascript:getIndexViewRequest('{{ submenu.action }}')">{{ submenu.name }}</a></li>
			  {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      </div>
    </div>
  </div>
<script>
$(function () {
  'use strict';
  var data;
  {% if selectMenu.submenu.action == 'all' %}
  data = {};
  data.path = '{{ query.path }}';
  {% endif %}
  getIndexViewRequest('{{ selectMenu.submenu.action }}', data);
});
</script>
</body>
</html>